body{
    background-color: #efefef;
    font-family: arial;
    font-size: 11pt;
    margin: 0 auto;
    
}

.center{
    margin: -18px auto;
    width: 900px;
    height: 100%;
    padding-top: 120px;
    background-color: white;
    box-shadow: 0px 4px 3px 3px #9f9f9f;
    z-index: -1;
}

nav#header{
    margin-top: 18px;
    background-color: #161930;
    color: lightgrey;
    width: 100%;
    height: 20px;
    padding: 10px;
    position: fixed;
}

.header-btn{
    display: inline-block;
    height: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: -10px;
}

.header-btn:hover{
    background-color: #2f2f2f;
}

#topics-bar{
    background-color: #111428;
    width: 111%;
    margin-left: -10px;
    position: fixed;
}

.topic{
    text-align: center;
    color: #f0f0f0;
    padding: 10px;
    background-color: #111428;
    display: inline-block;
}

.topic:hover{
    background-color: #161930;
}

a{
    color: orangered;
    text-decoration: none;
}

.logout-btn{
    padding: 2px 5px 2px 5px;
    border: 1px solid orangered;
    border-radius: 3px;
    float: right;
    margin-right: 15px; 
}

.logout-btn:hover{
    color: #0f0f0f;
    background-color: orangered;
}

form{
    margin: 0 auto; 
    background-color: white;
    width: 250px;
}

input, textarea, select{
    width: 100%;
    border: 1px solid #9f9f9f;
    border-radius: 2px;
}

.question-block{
    margin: 25px;
    padding: 5px 10px 1px 10px;
    width: 90%;
    background-color: gainsboro;
}
.comment{
    max-width: 80%
}

hr{
    margin-bottom: -12px;
}
#ask-question, #not-signed-in{
    color: black;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 5px;
    margin: 0 auto;
}


#question-title{
    font-size: 15pt;
    margin-left: 10px;
    text-decoration: underline;
}

#content{
    margin-left: 25px;
}

#user-time{
    font-style: italic;
    opacity: 0.6;
}

#user-time a:hover{
    opacity: 1.0;
    color: red;
    text-decoration: underline;
}