body{
    background-color: #e1e1e1;
    font-family: Helvetica;
    font-size: 12pt;
    margin: 0 auto;
}

.center{
    margin: -18px auto;
    padding: 10px;
    width: 900px;
    min-width: 540px;
    min-height: 1080px;
    padding-top: 100px;
    background-color: #fdfdfd;
    z-index: -1;
    box-shadow: 0px 0px 10px #bcbcbc;
}

@media (max-width: 900px){
    .center {
        width: 100%;
    }
}

#side-bar{
    float: right;
    padding-top: 110px;
    min-height: 1080px;
    width: 290px;
    background-color: #efefef;
    color: black;
    box-shadow: -3px -3px 3px #9f9f9f;
    display: none;
}

h3{
    margin-left: 15px;
    color: #161930;
}

img{
    margin: 0 auto;   
}


nav#header{
    margin-top: 15px;
    background-color: #1c2039;
    color: lightgrey;
    width: 100%;
    height: 20px;
    padding: 10px;
    position: fixed;
}

.header-btn{
    display: inline-block;
    color: white;
    height: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: -10px;
}

.header-btn:hover{
}

#topics-bar{
    background-color: #252e54;
    width: 100%;
    margin-left: -10px;
    position: fixed;
    height: 35px;
}

.topic{
    text-align: center;
    color: #f0f0f0;
    padding: 8px 20px 9px 20px;
    border-right: 2px solid #1c2039;
    display: inline-block;
}

a{
    color: orangered;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

li{
    margin-bottom: 5px;
}

.logout-btn{
    padding: 2px 5px 2px 5px;
    border: 1px solid orangered;
    border-radius: 3px;
    float: right;
    margin-right: 15px; 
}

.logout-btn:hover{
    color: #0f0f0f;
    background-color: orangered;
}

form{
    margin: 0 auto;
    background-color: transparent;
    width: 500px;
    clear: both;
}

textarea{
    font-family: Arial;
    width: 500px;
    height: 100px;
    border: 1px solid #9f9f9f;
    border-radius: 2px;
}

input[type="submit"]{
    background-color: lightgreen;
}

textarea, input, select{
    font-size: 12pt;
    margin: 2px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid lightgray;
    width: 100%;
}

#ask-question a, #ask-question, #not-signed-in{
    color: black;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 2px;
    margin-left: 25px;
    width: 90% !important;
}

#not-signed-in{
    background-color: rosybrown;
}

.question-block{
    clear: both;
    margin: 25px;
    padding: 15px 15px 5px 15px;
    width: 90%;
    min-width: 470px;
    background-color: white;
    border-left: 2px solid gray;
}

.comment div{
    width: 80%;
    padding: 10px;
    margin-left: 80px;
}



#question-title{
    font-size: 16pt;
    margin-left: 10px;
    margin-bottom: -5px;
    color: black;
    font-family: "Times New Roman";
}

#question-title:hover{
    color: orangered;
}

#content{
    margin-left: 25px;
    white-space: pre-wrap;
}

#user-time{
    font-family: Consolas;
    opacity: 0.6;
}

#user-time a:hover{
    opacity: 1.0;
    color: red;
    text-decoration: underline;
}

.rating{
    width: 10px;
    text-align: left;
    box-shadow: none;
    margin-left: -10px;
    margin-right: 15px;
    margin-top: 0px;
    float: left;
    background-color: transparent;
}

.votes-num{
    font-family: Consolas;
    font-weight: normal;
    font-size: 17pt;
}

input[value="Odgovori"]{
    padding: 5px;
    width: 30%;
}


form[action="insert_comment.php"]{
    margin: 25px;
    
}

#post-topic, #sub{
    background-color: #1c2039;
    color: white;
    border-radius: 2px;
    padding: 10px;
    margin-right: 10px;
}




#sort-by{
    float: right;
    margin-top: 8px;
}
#sort-by p {
    margin-right: 1px;
    width: 100px;
    padding: 5px;
    display: inline;

}
#sort-by a {
    background-color: #252e54;
    color: white;
    margin-right: 3px;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    padding: 3px;

}
#sort-by a:hover{
    text-decoration: none;
    background-color: white;
    color: #252e54;
}

input[value="1"]{
    background:  url(res/up.png) no-repeat transparent;
    background-size: 20px 20px;
    border: none;
    color: transparent;
    margin: -10px 0 0 0;
}

input[value="-1"]{
    background:  url(res/down.png) no-repeat transparent;
    background-size: 20px 20px;
    border: none;
    color: transparent;
    margin: 0;
    margin-top: -10px;
}
